{% extends 'base.html' %}

{% block title %}Lista de Incidentes - WatchSafe{% endblock %}

{% block content %}
<main class="container mx-auto px-6 py-8">
    <h1 class="text-3xl font-bold mb-10 text-gray-800 text-center">Registro de Incidentes</h1>

    <!-- Filtros de Búsqueda -->
    <form method="get" action="{% url 'incident_list' %}" class="mb-8 flex flex-wrap gap-4 items-center justify-center" id="search-form">
        <div class="w-full sm:w-auto">
            <label for="incident_type" class="block text-sm font-medium text-gray-700">Tipo de Incidente</label>
            <select id="incident_type" name="incident_type" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
                <option value="">Todos</option>
                <option value="VIOLENCE">Violencia</option>
                <option value="NO_VIOLENCE">No Violencia</option>
            </select>
        </div>
        <div class="w-full sm:w-auto">
            <label for="date" class="block text-sm font-medium text-gray-700">Fecha</label>
            <input type="date" id="date" name="date" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
        </div>
        <div class="w-full sm:w-auto">
            <button type="submit" class="w-full sm:w-auto bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-6 sm:mt-0">
                Filtrar
            </button>
        </div>
    </form>
    

    <!-- Contenedor de tablas en dos columnas -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <!-- Tabla de Incidentes en Tiempo Real -->
        <div class="bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold mb-4 text-gray-700 text-center">Historial de Incidentes en Tiempo Real</h2>
            <div class="overflow-x-auto" id="realtime-results">
                {% include 'partials/realtime_table.html' %}
                <!-- Controles de paginación para incidentes en tiempo real -->
                {% if incidents_realtime.has_other_pages %}
                    <div class="pagination-controls text-center mt-4">
                        {% if incidents_realtime.has_previous %}
                            <a href="?realtime_page={{ incidents_realtime.previous_page_number }}&upload_page={{ incidents_upload.number }}" 
                               class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mx-1">Anterior</a>
                        {% endif %}
                        <span class="font-bold text-gray-700">Página {{ incidents_realtime.number }} de {{ incidents_realtime.paginator.num_pages }}</span>
                        {% if incidents_realtime.has_next %}
                            <a href="?realtime_page={{ incidents_realtime.next_page_number }}&upload_page={{ incidents_upload.number }}" 
                               class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mx-1">Siguiente</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Tabla de Incidentes por Upload -->
        <div class="bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold mb-4 text-gray-700 text-center">Historial de Incidentes por Upload</h2>
            <div class="overflow-x-auto" id="upload-results">
                {% include 'partials/upload_table.html' %}
                
                <!-- Controles de paginación para incidentes por upload -->
                {% if incidents_upload.has_other_pages %}
                    <div class="pagination-controls text-center mt-4">
                        {% if incidents_upload.has_previous %}
                            <a href="?upload_page={{ incidents_upload.previous_page_number }}&realtime_page={{ incidents_realtime.number }}" 
                               class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mx-1">Anterior</a>
                        {% endif %}
                        <span class="font-bold text-gray-700">Página {{ incidents_upload.number }} de {{ incidents_upload.paginator.num_pages }}</span>
                        {% if incidents_upload.has_next %}
                            <a href="?upload_page={{ incidents_upload.next_page_number }}&realtime_page={{ incidents_realtime.number }}" 
                               class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mx-1">Siguiente</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
<script>
    document.getElementById('search-form').addEventListener('submit', function(e) {
        e.preventDefault();  // Prevenir la recarga de página

        // Obtener el valor seleccionado en el campo de tipo de incidente
        const incidentType = document.getElementById('incident_type').value;
        const date = document.getElementById('date').value;

        // Si el tipo de incidente es "Todos" (valor vacío) y la fecha está vacía, recarga la página completa
        if (!incidentType && !date) {
            window.location.href = "{% url 'incident_list' %}";
            return;
        }

        // Construcción de URL para la solicitud AJAX
        const url = new URL("{% url 'incident_search_ajax' %}", window.location.origin);
        
        // Añadir cada campo del formulario a los parámetros de la URL
        const formData = new FormData(this);
        formData.forEach((value, key) => {
            url.searchParams.append(key, value);
        });

        // Realizar la solicitud AJAX
        fetch(url, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Actualizar el contenido de las tablas con los datos de la respuesta JSON
            document.getElementById('realtime-results').innerHTML = data.realtime_table;
            document.getElementById('upload-results').innerHTML = data.upload_table;
        })
        .catch(error => console.error('Error:', error));
    });
</script>


{% endblock %}
